nav {
  padding:  0 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  
  li {
    margin: 0 10px;
  }
}

.nav-link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.logo-svg {
  font-size: 12rem;
}

.signout {
  cursor: pointer;

}

.signout:hover {
  color: #747bff;
}